<!DOCTYPE html>
<html style= "background-color:#66CCFF">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> About Us</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>
<div class="container">
    <div class="row">
        <h1 style= "display: block; height: 50px; width: 150px; margin: auto"> About Us</h1>
        <hr/>
        <h3>8byte Dining Team </h3>
        <p> Group Name: <em><strong> MaryHadALittleLambda </strong></em> <p>  
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    
                </div>
                
                            <img src="http://gdurl.com/TWCM"  height="200" width="200" />
                            <ul>
                                <li> <strong> Peter Paul Wong </strong> </li>
                                <li> Senior CS Student at University of Texas at Austin</li>
                                <li> API Management, Django, Rackspace </li>
                                <li> # of commits: </li>
                                <li> # of issues: </li>
                                <li> # of unit tests: </li>
                            </ul>

                            <img src="http://gdurl.com/zX_Y"  height="200" width="200" />
                            <ul>
                                <li> <strong> Jesus De La O </strong> </li>
                                <li> Junior CS Student at University of Texas at Austin</li>
                                <li> API Management, Django, Rackspace </li>
                                <li> # of commits: </li>
                                <li> # of issues: </li>
                                <li> # of unit tests: </li>
                            </ul>

                            <img src="http://gdurl.com/sEvD"  height="200" width="200" />
                            <ul>
                                <li> <strong> Marguerite West-Driga </strong> </li>
                                <li> Senior CS Student at University of Texas at Austin</li>
                                <li> API Management, Django, Rackspace, Nginx </li>
                                <li> # of commits: </li>
                                <li> # of issues: </li>
                                <li> # of unit tests: </li>
                            </ul>

                           <img src="http://gdurl.com/mdt3"  height="200" width="200" />
                            <ul>
                                <li> <strong>Derek Cornelius </strong> </li>
                                <li> Junior CS Student at University of Texas at Austin</li>
                                <li> Frontend, AngularJS, HTML/CSS </li>
                                <li> # of commits: </li>
                                <li> # of issues: </li>
                                <li> # of unit tests: </li>
                            </ul>

                            <img src="http://gdurl.com/k8JT"  height="250" width="200" />
                            <ul>
                                <li> <strong> Mario Solis </strong></li>
                                <li> Junior CS Student at University of Texas at Austin</li>
                                <li> Frontend, Bootstrap, HTML/CSS </li>
                                <li> # of commits: </li>
                                <li> # of issues: </li>
                                <li> # of unit tests: </li>
                            </ul>

                            <hr/>
                            <h1 style= "display: block; height: 50px; width: 150px; margin: auto"> Statistics </h1>
                            <p> Total # of Commits:  <p>
                            <p> Total # of Issues:  <p>
                            <p> Total # of Unit Tests:  <p>
                            <p> <a href ="http://docs.8bytedining.apiary.io/"> Apiary API </a> <p>
                            <p> <a href ="https://github.com/wongpeterp/cs373-idb/issues"> GitHub Issue Tracker </a> <p>
                            <p> <a href ="https://github.com/wongpeterp/cs373-idb"> GitHub Repo </a> <p>
                            <p> <a href ="https://github.com/wongpeterp/cs373-idb/wiki"> GitHub Wiki</a> <p>

                            <hr/>
                            <h1 style= "display: block; height: 50px; width: 150px; margin: auto"> Database</h1>
                            <p> <a href ="http://developer.pearson.com/apis/pearson-kitchen-manager"> Pearson Kitchen Manager</a> <p>
                            <p> API calls to the Pearson Kitchen Manager API return JSON files which are then parsed into multiple JSON file caches.<P>

            </div>
        </div>
    </div> 
</div>
</body>

</html>
