<!doctype html>
<html ng-app="myApp">
  <head ng-app="myApp">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="/static/foodApp/js/main.js"></script>

  </head>
  <body ng-app="myApp">

    <h4> <a ng-href = "/"> Back to home </a>
    <h4> <a ng-href = "/CuisineModel"> Back to model </a>

    <div ng-controller = "CuisineController">

      <h3> All Cuisines </h3>

      <div ng-repeat="cuisine in cuisines">
        <a href = "{[{ cuisine.name }]}.html"> {[{ cuisine.name }]} </a>
      </div>

    </div>

    <!-- Modules -->
    <script src="/static/foodApp/js/main.js"></script>

    <!-- Controllers -->
    <!-- default -->

  </body>
</html>
