<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="static/foodApp/testApp.js"></script>
  </head>
  <body ng-app="testApp">

    Hello World

    <div ng-controller = "TestController">

	[[url]]
	[[hello]]
	<p></p>
	[[ohboy]]
	<p></p>
	Recipe: [[recipe]]
	<p></p>
	fj: [[fj]]
	<p></p>
	test: [[ fj["auntruthiespotroast"] ]]
	<p></p>
	<a ng-href="http://8bytedining.me/Index2" target="_self"> Test Link </a>
        <p></p>
	THE ULTIMATE TEST: [[ recipes[recipe] ]]

    </div>

    <script src="static/foodApp/testApp.js"></script>

  </body>
</html>
