<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="static/foodApp/testApp.js"></script>
  </head>
  <body ng-app="testApp">

    Hello World

    <div ng-controller = "TestController">

	  <div ng-address-bar></div><br><br>
	  <div>
	    $location.protocol() = <span ng-bind="$location.protocol()"></span> <br>
	    $location.host() = <span ng-bind="$location.host()"></span> <br>
	    $location.port() = <span ng-bind="$location.port()"></span> <br>
	    $location.path() = <span ng-bind="$location.path()"></span> <br>
	    $location.search() = <span ng-bind="$location.search()"></span> <br>
	    $location.hash() = <span ng-bind="$location.hash()"></span> <br>
	  </div>

    </div>

    <!-- Modules -->
    <script src="static/foodApp/testApp.js"></script>

  </body>
</html>
