<!doctype html>
<html>
  <head>
    <link rel="shortcut icon" href="http://www.iconarchive.com/download/i59987/mcdo-design/closed-notes/Diary-Recipe.ico">
     <link href="/static/foodApp/grid/assets/css/bootstrap.css" rel="stylesheet">

          <!-- cuisine --><link href="/static/foodApp/cuisines/assets/css/bootstrap.css" rel="stylesheet">
          <!-- quant_data <link href="assets/css/bootstrap.css" rel="stylesheet">-->
          <!--quant_data --> <link href="/static/foodApp/quant_data/assets/css/main.css" rel="stylesheet">
        
            

    <!-- Custom styles for this template -->
    <link href="/static/foodApp/grid/assets/css/main.css" rel="stylesheet">
    <link rel="/static/foodApp/stylesheet" href="grid/assets/css/icomoon.css">
    <link href="/static/foodApp/grid/assets/css/animate-custom.css" rel="stylesheet">
    <link href="/static/foodApp/css/stylish-portfolio.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="/static/foodApp/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
            
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

                  <script src="/static/foodApp/grid/assets/js/jquery.min.js"></script>
                  <script type="text/javascript" src="/static/foodApp/grid/assets/js/modernizr.custom.js"></script>

  </head>

  <body style="background-image:url(http://images.123hdwallpapers.com/20150706/wheat-field-golden-nature-1920x1200.jpg)">

  		 <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); > Menu </a>
            </li>
            <li>
                <a href="http://8bytedining.me" target="_self">Home </a>
            </li>
            <li>
                <a href="http://8bytedining.me/recipes" onclick = $("#menu-close").click(); > Recipes</a>
            </li>
            <li>
                <a href="http://8bytedining.me/ingredients" onclick = $("#menu-close").click(); > Ingredients</a>
            </li>
            <li>
                <a href="http://8bytedining.me/cuisines" onclick = $("#menu-close").click(); >Cuisines</a>
            </li>
            <li>
                <a href="http://8bytedining.me/about" onclick = $("#menu-close").click(); >About</a>
            </li>
        </ul>
    </nav>

      <br>
      <div class="row">
        <br>
        <h1 class="centered" style="font-size:36px;"> Ingredient Model</h1>
        <hr>
        <br>
        <br>
      </div><!-- /row -->

      <title> Ingredient Model </title>

      <table class="sortable" border="5px" style="background-color:white; opacity:0.65; margin-left: auto; margin-right: auto; margin-bottom: 100px; text-align: center">

          <tr>
            <th style="color:black; text-align:center">Name</th>
            <th style="color:black; text-align:center">Recipe Count</th>
            <th style="color:black; text-align:center">Popularity (appearance in recipes)</th>
            <th style="color:black; text-align:center">Cuisine Count</th>
            <th style="color:black; text-align:center">Diversity (appearance in cuisines)</th>
            <th style="color:black; text-align:center">Calories (kcal per 100g)</th>
	  {% for i,v in d.items %}
	  <tr>
            <td style= "font-size: 14px"> <a href="http://8bytedining.me/cuisines/{{ v.id }}"> {{ v.name }} </a> </td>
            <td style= "font-size: 14px; color:black"> {{ v.quant_data.number_of_recipes }} </td>
            <td style= "font-size: 14px; color:black"> {{ v.quant_data.popularity|floatformat:"-2" }} </td>
            <td style= "font-size: 14px; color:black"> {{ v.quant_data.number_of_cuisines }} </td>
            <td style= "font-size: 14px; color:black"> {{ v.quant_data.diveristy|floatformat:"-2" }} </td>
            <td style= "font-size: 14px; color:black"> {{ v.quant_data.calories_per_100g }} </td>
          </tr>
	  {% endfor %}
        </table>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    

  <script type="text/javascript" src="/static/foodApp/grid/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/foodApp/grid/assets/js/retina.js"></script>
  <script type="text/javascript" src="/static/foodApp/grid/assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/foodApp/grid/assets/js/smoothscroll.js"></script>
  <script type="text/javascript" src="/static/foodApp/grid/assets/js/jquery-func.js"></script>
  <script type="text/javascript" src="js/navsquare_jquery.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
   
    </script>

    <script src="/static/foodApp/js/sorttable.js"></script>

  </body>
</html>






