<!DOCTYPE HTML>

<html>
	<head>
		<title> Biscotti </title>
		<link rel="shortcut icon" href="http://www.iconarchive.com/download/i59987/mcdo-design/closed-notes/Diary-Recipe.ico">
	</head>

	<body>
		<h1> Biscotti <h1>
		<h3> <em> Italian Cuisine # will link to all Italian cuisine recipes (grid of linkable pictures with recipe names) </em> <h3>
			<img src = "https://api.pearson.com/kitchen-manager/v1/images/full/biscotti.jpg">

		<h2> Ingredients <h2>
			<p style = "font-size: 14px"> Serves 36, Yields 36 </p>
			<ul>
				<li style="font-size: 14px"> 1 tbl ground cinnamon </li>
				<li style="font-size: 14px"> 2 tsp baking powder</li>
				<li style="font-size: 14px"> 10 oz hazelnut flour </li>
				<li style="font-size: 14px"> 3 oz almond flour </li>
				<li style="font-size: 14px"> 1 lb pastry flour </li>
				<li style="font-size: 14px"> 5 eggs</li>
				<li style="font-size: 14px"> 1 lb granulated sugar</li>
				<li style="font-size: 14px"> 8 oz unsalted butter</li>
				<li style="font-size: 14px"> 10 oz whole unblanched hazelnuts</li>
				<li style="font-size: 14px"> semisweet chocolate (as needed)</li>
			</ul>

		<h2> Directions <h2>
			<p style= "font-size: 14px"> Sift together the cinnamon and ammonium carbonate or baking powder. Stir in the hazelnut, almond and pastry flours. Set aside. In a large bowl, whisk together the eggs and sugar to the ribbon stage, approximately 3 minutes. Add the butter. Stir in the flour mixture with a rubber spatula, then stir in the whole hazelnuts. Divide the dough into three even pieces. Refrigerate until cold. Roll each piece of dough into a 12-inch (30-centimeter) log. Place on a paper-lined sheet pan, leaving at least 3 inches (7.5 centimeters) of space between each log. Bake at 350F (180C) until golden in color, approximately 20 minutes. Cool the logs, then slice them into 1-inch- (3-centimeter-) thick slices. Place the sliced cookies upright on paper-lined sheet pans. Double-tray the pans. Reduce heat to 325F (160C) and bake until the biscotti are thoroughly crisp, approximately 40 minutes. Once cool, the biscotti may be dipped in tempered chocolate.
			</p>

		<h2> Nutritional Info <h2>

		<table border = 5px>

					<tr> 
						<td style= "font-size: 14px"> Calcium </td>
						<td style= "font-size: 14px"> 48.37 mg per 100g</td>
					</tr>

					<tr>
						<td style= "font-size: 14px"> Calories </td>
						<td style= "font-size: 14px"> 245.62 kcal per 100g </td>
					</tr>

					<tr>
 						<td style= "font-size: 14px">Calories_fat </td>
 						<td style= "font-size: 14px"> 139.98 g per 100g </td>
					</tr>

					<tr> 
						<td style= "font-size: 14px"> Carbohydrates </td>
						<td style= "font-size: 14px"> 25.08 g per 100g</td>
					</tr>

					<tr>
						<td style= "font-size: 14px"> Cholesterol </td>
						<td style= "font-size: 14px"> 40.19 mg per 100g </td>
					</tr>

					<tr>
 						<td style= "font-size: 14px"> Fat </td>
 						<td style= "font-size: 14px"> 15.55 g per 100g </td>
					</tr>

					<tr> 
						<td style= "font-size: 14px"> Iron </td>
						<td style= "font-size: 14px"> 1.37 mg per 100g </td>
					</tr>

					<tr>
						<td style= "font-size: 14px"> Protein</td>
						<td style= "font-size: 14px"> 4.53 g per 100g </td>
					</tr>

					<tr>
 						<td style= "font-size: 14px"> Saturated_fat </td>
 						<td style= "font-size: 14px"> 4.19 g per 100g</td>
					</tr>
					<tr> 
						<td style= "font-size: 14px">Sodium</td>
						<td style= "font-size: 14px"> 27.78 mg per 100g</td>
					</tr>

					<tr>
						<td style= "font-size: 14px"> Trans_fat </td>
						<td style= "font-size: 14px">0 g per 100g </td>
					</tr>

					<tr>
 						<td style= "font-size: 14px"> Vitamin_A </td>
 						<td style= "font-size: 14px"> 194.56 IU per 100g </td>
					</tr>

					<tr>
 						<td style= "font-size: 14px"> Vitamin_C</td>
 						<td style= "font-size: 14px"> 0.66 mg per 100g </td>
					</tr>
		</table>

	</body>
</html>